@charset "UTF-8";
/* Apply Noto Sans font across the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100%;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    background-image: url('/images/imagebackground.png');
    color: #FFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ring {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 0px solid white;
}

span {
  color: white;
  font-size: large;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(9, 134, 121);
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(46, 3, 145);
  animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(196, 7, 149);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes rotate2 {
  0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}

@keyframes rotate3 {
  0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}



.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    text-align: center;
    margin-bottom: 30px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar h2 {
    font-size: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.sidebar nav ul li.active a {
    color: #66A3FF;
}

.sidebar nav ul li.active i{
    color: #66A3FF;
}

/* Main content */
.main-content {
    flex-grow: 1;
    padding: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 28px;
}

.header-buttons button {
    background-color: #19376D; 
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.header-buttons button:hover {
    background-color: #4b4bdc; 
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 10px;
}

.form-group input {
    padding: 10px;
    border-radius: 5px;
    border: white;
    border: 1px solid rgba(255, 255, 255, 0.5);    
    background-color: transparent; 
    color: #FFF;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack sidebar and main content */
    }

    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .main-content {
        padding: 20px;
    }

    header h1 {
        font-size: 24px;
    }

    form {
        grid-template-columns: 1fr; /* Stack form fields on smaller screens */
    }
}

.header-buttons a{
    text-decoration: none;
    color: white;
}
